/* App.css */
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Modern font */
  color: #333;
}

.App-footer {
  background-color: #383838; /* Softer color */
  color: white;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.App-header {
  background-color: #383838;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Other styles remain unchanged */



