/* BuildingCard.css */
.building-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-align: left;
    background-color: #e8eaf6; 
}

.building-card:hover {
    transform: scale(1.02);
}

.building-name {
    font-size: 1.4em;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

.building-distance {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.building-link {
    color: #333;
    text-decoration: underline;
    font-weight: 500;
}
